pkgbase = cytoscape-bin
	pkgdesc = A software for visualizing molecular interaction networks and integration with gene expression profiles and other state data.
	pkgver = 3.7.2
	pkgrel = 0
	url = http://www.cytoscape.org
	arch = any
	license = LGPL2
	depends = java-runtime-headless=8
	provides = cytoscape
	source = https://github.com/cytoscape/cytoscape/releases/download/3.7.2/cytoscape-3.7.2.tar.gz
	source = cytoscape.desktop
	source = cytoscape.png
	source = cytoscape
	sha256sums = cce74c2ca353b1d0d7ef9515ee70ef34918b308080fa50b515be2ebc517ebb88
	sha256sums = f4476545086f845e1cec5861169270da9f82a6ad4944972010827a567af0c7d0
	sha256sums = 135faa3f0beb8ecc1b704cf376408e8bd5f62f32ba50a84002c14321d0bb0b68
	sha256sums = 78dd0b17e872eb30035080f0a27f4d9f6e8ffe9e7c78baae3a1d0237d7a2e205

pkgname = cytoscape-bin

